@font-face {
  font-family: "iconfont"; /* Project id 5187700 */
  src: url('iconfont.woff2?t=1780405909045') format('woff2'),
       url('iconfont.woff?t=1780405909045') format('woff'),
       url('iconfont.ttf?t=1780405909045') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slowcloudgithub:before {
  content: "\e799";
}

.icon-slowcloudbilibili:before {
  content: "\e78d";
}

.icon-slowcloudarrow-down:before {
  content: "\e60a";
}

.icon-slowcloudarrow-right:before {
  content: "\e602";
}

.icon-slowcloudarrow-left:before {
  content: "\e608";
}

.icon-slowcloudriqi2:before {
  content: "\e697";
}

.icon-slowcloudadmin:before {
  content: "\e624";
}

.icon-slowcloudcommet:before {
  content: "\e605";
}

.icon-slowcloudview:before {
  content: "\e942";
}

.icon-slowcloudmy-admin:before {
  content: "\e606";
}

